:root {
    --primary-color: #f9f9fb;
    --dark-color: #000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roobert', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9fb;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: lighter;
    color: #141414;
}

a {
    color: #141414;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* container */

.container {
    max-width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-links {
    padding-left: 2rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    float: left;
    color: var(--dark-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 4px;
}

.header a.logo {
    outline: none;
    font-size: 2rem;
    font-weight: bold;
}

.header-right {
    float: right;
}

.search-bar {
    position: relative;
    display: flex;
    /* Menggunakan Flexbox untuk mengatur tata letak */
    align-items: center;
}

.input-field {
    outline: none;
    padding-left: 30px;
    /* Berikan ruang untuk ikon */
    flex: 1;
    /* Membuat input mengisi sisa ruang */
    padding: 0.5rem;
    border: none;
    border-bottom: groove;
    border-width: 2px;
    font-size: 1rem;
    text-indent: 2rem;
}

.search-bar .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    margin-right: auto;
    z-index: 1; // Add z-index to position the icon behind the input field
}

.user-actions {
    padding-left: 1rem;
    list-style: none;
    display: flex;
    grid-gap: 1rem;
}

/* Home */
.home-section {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: stretch;
}

.home-content {
    flex: 1;
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.home-left,
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Adjust content inside */
}

.home-left {
    padding: 0%;
}

.home-actions {
    align-items: center;
    padding-top: 4rem;
    display: flex;
    gap: 1rem;
}

.home-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "product-section person-section";
}

.product-section {
    grid-area: product-section;
}

.product-sale {
    width: 100%;
    height: 40%;
    padding: 0.5rem;
}

.slogan {
    position: relative;
    width: 100%;
    height: 30%;
    padding: 0.5rem;
}

.slogan p {
    position: absolute;
    top: -5;
    left: 5;
    right: 0;
    text-align: left;
    color: black;
    padding: 10px;
    margin: 30px;
}

.person-section {
    grid-area: person-section;
}

.agent {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 0.5rem;
}

.job-desk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #e9dada80;
    /* Semi-transparent black background */
    color: white;
    padding: 10px;
    margin: 20px;
    filter: blur(0);
    /* No blur for the text */
    backdrop-filter: blur(5px);
    /* Apply blur to the background */
}

.buyer {
    position: relative;
    width: 100%;
    height: 20%;
    padding: 0.5rem;
}

.items-sold {
    padding: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
}

.items-sold img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.items-sold-count {
    font-weight: bold;
}

.sold-label {
    color: gray;
}




/* Tabs */
.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #999;

}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.tabs .container>div {
    padding: 1rem 0;
}

.tabs .container>div:hover {
    color: var(--dark-color);
    cursor: pointer;
}


.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */

.section-content {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}


#section-content .section-content-top {
    display: grid;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

#section-content .section-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section-content .section-content-left {
    display: grid;
    padding-left: 4rem;
    padding-top: 3rem;
    justify-content: left;
    text-align: left;
}

#bottom-content .bottom-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: right;
    justify-content: center;
}

.tab-content {
    padding: 3rem;
    color: #fff;
}

/* Hide contetn initially */
#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content {
    display: none;
}

.show {
    display: block !important;
}



.tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.tab-2-content-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* Footer */

.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    color: #999;
    font-size: 0.9rem;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9rem;
}

.footer input[type=text],
input[type=submit] {
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
}

.footer .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

/* Text Styles */
.text-xl {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-nm {
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: var(--dark-color);
    font-weight: lighter;
}

/* Button */

.btn {
    display: inline-block;
    background: var(--dark-color);
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgb(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    orphans: 0.9;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.btn-normal {
    color: var(--primary-color);
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-icon {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
}

@media (max-width: 768px) {
    .home-right {
        grid-template-columns: 1fr;
        /* Single column layout */
        grid-template-rows: repeat(4, 1fr);
        /* Four rows */
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .home-section {
        flex-direction: column;
        /* Stack left and right sections vertically */
    }

    .home-content {
        margin: 10px;
        /* Reduce margin for smaller screens */
    }

    .home-right {
        grid-template-columns: 1fr;
        /* Keep single column layout */
        grid-template-rows: repeat(4, auto);
        /* Auto-height rows to fit content */
    }

    .home-right img {
        object-fit: contain;
        /* Ensure images fit within the grid without cropping */
    }
}